<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Crear receta</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body ">
        <form #addForm="ngForm" >
          <!-- Titulo input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="titulo">Título</label>
            <input type="text" id="titulo" class="form-control" name="titulo"  [(ngModel)]="form.title" #title="ngModel" required>
          </div>
          <!-- Description input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form4Example2">Descripción</label>
            <textarea type="text"  rows="4" id="desc" class="form-control" name="description" [(ngModel)]="form.description" #description="ngModel"required ></textarea>
          </div>
          <div class="form-outline mb-4">
            <label class="form-label" for="img">Imagen: </label>
            <input class="form-control" id="img" type="file" name="imageUrl"  name="imageUrl" (change)="onFileSelected($event)" >       
          </div>
          <div class="form-outline mb-4">
                <div class="container">
                    <div class="row">
                        <div class="col-3">
                            <label class="form-label" for="numComensales"> Nº comensales</label> <input type="number" id="numComensales" name="numComensales" class="form-control" [(ngModel)]="form.numComensales" #numComensales="ngModel" required />
                        </div>
                        <div class="col-3">
                            <label class="form-label" for="tiempo">Tiempo de preparación</label> <input type="number" id="tiempo" name="tiempo"  class="form-control" [(ngModel)]="form.tiempo" #tiempo="ngModel" required/>
                        </div>
                        <div class="col-3">
                            <label class="form-label" for="type">Tipo de receta</label> <input type="text" id="type" class="form-control" name="type" [(ngModel)]="form.type" #type="ngModel" required/>
                        </div>
                        <div class="col-3">
                            <label class="form-label" for="text">Nivel de dificultad</label> <input type="text" id="dificultad" name="dificultad" [(ngModel)]="form.dificultad" #dificultad="ngModel" class="form-control"  required/>
                        </div>
                    </div>
                </div>
          </div>
          <div class="form-outline mb-4">
            <label class="form-label" for="tags">Tags</label>
            <div id="tag-info" class="form-text">Los tags separados por comas.</div>
            <input type="text" id="tags" class="form-control" name="tags" [(ngModel)]="tagsString" (change)="parseConditions()" #tags="ngModel" required/>
          </div>
          <div class="form-outline mb-4">
            <label class="form-label" for="ing">Ingredientes</label>
            <textarea class="form-control" id="ing" rows="4" id="ingredientes" name="ingredientes" [(ngModel)]="form.ingredientes" #ingredientes="ngModel" required></textarea>
          </div>
          <div class="form-outline mb-4">
            <label class="form-label" for="body">Desarrollo de la receta</label>
            <textarea class="form-control" id="body" rows="4" id="boody" name="body" [(ngModel)]="form.body" #body="ngModel" required></textarea>
          </div>
        
          <div class="modal-footer">
            <button type="submit" class="btn btn-outline-success" [disabled]="addForm.invalid" (click)="modal.close('Save click')">Añadir receta</button>
          </div>        
        </form>
    </div>
    
  </ng-template>
  
  <button class="btn btn-lg btn-outline-success" (click)="open(content)">Añadir receta</button>
