
<div class="container-fluid">
<div class="row">
  <div class="col-sm-6 text-black d-flex align-items-center">

    <div class="d-flex align-items-center  px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

      <form style="width: 23rem;" *ngIf="!isLoggedIn" name="form"  (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

        <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Iniciar sesión</h3>

        <div class="form-outline mb-4">
            <label class="form-label" for="form2Example17">Nombre de usuario</label>
          <input type="text" id="form2Example17" class="form-control form-control-lg"  name="unsername" [(ngModel)]="form.username" #username="ngModel" />
        </div>

        <div class="form-outline mb-4">
            <label class="form-label" for="form2Example27">Password</label>
          <input type="password" id="form2Example27" class="form-control form-control-lg" id="password" name="password" [(ngModel)]="form.password"  #password="ngModel"  />
        </div>

        <div class="pt-1 mb-4">
          <button class="btn btn-outline-success btn-lg btn-block">Inicar sesión</button>
        </div>
        <p>¿No tienes una cuenta? <a [routerLink]="['/register']" class="link-success">Crear una cuenta</a></p>

      </form>

    </div>

  </div>
  <div class="col-sm-6 px-0 d-none d-md-block">
    <img src="assets\image-login.jpg" alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
  </div>
</div>
</div>