<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Cambiar contraseña</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #addForm="ngForm">
        <div class="form-group">
          <label for="currentPassword">Escriba su contraseña</label>
          <input type="password" class="form-control" name="password" id="currentPassword"  [(ngModel)]="form.password" #password="ngModel"  required>
          <div
          class="alert alert-danger"
          role="alert"
          *ngIf="errorPasword">
         La contraseña no coincide
        </div>
        </div>
        <div class="form-group">
          <label for="newPasswordEntered">Escriba la constraseña nueva</label>
          <input type="password" class="form-control" name="newPasswordEntered" id="newPasswordEntered" [(ngModel)]="form.newpass" #newpass="ngModel"  required>
        </div>
        <div class="form-group">
          <label for="newPassword">Vuelva a escribir la constraseña nueva</label>
          <input type="password" class="form-control" name="newpassword" id="newpassword"  [(ngModel)]="form.newPassword" #newPassword="ngModel"  required>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" [disabled]="addForm.invalid || form.newpass != form.newPassword " (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>
  
  <button class="btn btn-lg btn-outline-danger" (click)="open(content)">Cambiar contraseña</button>
  