<div class="container vh-100">
    <div class="row p-1 mt-2">
        <div class="col-3 ">
            <ul class="list-group">
                <li class="list-group-item">Usuario: {{post.userName}}</li>
                <li class="list-group-item">Fecha de creación: {{post.datePost}}</li>
              </ul>
        </div>
        <div class="col-9">
            <div class="card">
                <h5 class="card-header">Tema</h5>
                <div class="card-body">
                  <h5 class="card-title">{{post.name}}</h5>
                  <p class="card-text">{{post.body}}</p>
                </div>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-end">
            <app-form-reply [postId]="post.id"></app-form-reply>
        </div>
    </div>
    <ng-container>
        <div class="row p-1 mt-2" *ngFor="let reply of post?.replies">
            <div class="col-3 ">
                <ul class="list-group">
                    <li class="list-group-item">Usuario: {{reply.userName}}</li>
                    <li class="list-group-item">Fecha de la respuesta: {{reply.date}} </li>
                  </ul>
            </div>
            <div class="col-9 border p-4">
                    <p class="fw-normal">{{reply.body}}</p>
            </div>
        </div>
    </ng-container>
</div>